{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/bogdan/workspace/phpts/src/Controller/SiteController.php'|file_link(0) }}">src/Controller/SiteController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/bogdan/workspace/phpts/templates/site/index.html.twig'|file_link(0) }}">templates/site/index.html.twig</a></code></li>
    </ul>
    <p>Let's start to work with DBes. <a href="{{ url("drinks")}}">Drinks</a></p>
</div>
{% endblock %}
